{% extends 'base.html.twig' %}


{% block body %}
<nav class="row justify-content-around mx-0 m-5">

        <div class="card shadowBlue m-3 col-xl-3 col-lg-3 col-md-6 col-sm-2 rounded" style="width: 18rem;">
            <img src="{{asset("/image/rat9.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Deratisation</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="/formulaire" class="btn btn-primary rounded">Choisir</a>
            </div>
        </div>

        <div class="card shadowBlue m-3 col-xl-3 col-lg-3 col-md-6 col-sm-2 rounded" style="width: 18rem;">
            <img src="{{asset("/image/punaise3.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Punaise de lit</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="{{path('registration_register')}}" class="btn btn-primary rounded">Choisir</a>
            </div>
        </div>

        <div class="card shadowBlue m-3 col-xl-3 col-lg-3 col-md-6 col-sm-2 rounded" style="width: 18rem;">
            <img src="{{asset("/image/fourmi.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">fourmi</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="Prestation.html" class="btn btn-primary rounded">Choisir</a>
            </div>
        </div>

        <div class="card shadowBlue m-3 col-xl-3 col-lg-3 col-md-6 col-sm-2 rounded" style="width: 18rem;">
            <img src="{{asset("/image/cafard.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cafard</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="Prestation.html" class="btn btn-primary">Choisir</a>
            </div>
        </div>
    </nav>
{% endblock %}

