{% extends 'base_admin.html.twig' %}



{% block main %}
    <h1>Prestations index</h1>

<div class="d-flex my-4">
    <a class="btn btn-primary shadow" href="{{ path('app_prestations_new') }}"><i class="fas fa-plus"></i> Nouvelle préstation</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Prestation</th>
                <th>Description</th>
                <th>Image</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}

            <tr>
                <td>{{ prestation.id }}</td>
                <td>{{ prestation.prestation }}</td>
                <td>{{ prestation.description|slice(0,70) }} ...</td>
                <td><img class="w-25" src="{{ asset('image/prestation/' ~ prestation.image) }}" alt=""></td>
                <td>{{ prestation.montant }} €</td>
                <td>
                    <a class=" text-primary" href="{{ path('app_prestations_show', {'id': prestation.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a class=" text-secondary" href="{{ path('app_prestations_edit', {'id': prestation.id}) }}"><i class="fas fa-edit"></i></a>
                    <a class=" text-danger" href="{{ path('app_prestations_delete', {'id': prestation.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
