<h2>Bonjour Abdenour Maali</h2>

<p>Vous avez un nouveau message de <strong>{{contact_first_name}} {{contact_last_name}}</strong> provenant de votre site.</p>

<p>Voici ses coordonnées : </p>
<ul>
    <li><strong>Email</strong> : {{contact_email}}</li>
    <li><strong>Phone</strong> : {{contact_phone}}</li>    
</ul>

<p><u>Voici le message</u> : </p>
<p>{{contact_message|nl2br}}</p>

<p>Bonne journée &#x1F60E;</p>