<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="style.css"> #}
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('image/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('image/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('image/favicon-16x16.png')}}">
    <link rel="manifest" href="{{asset('image/site.webmanifest')}}">
    <link rel="mask-icon" href="{{asset('image/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>HOME Anti-Nuisible</title>
</head>

<body>
{% block title %}
    <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a href="/">
                    <img src="{{asset("/image/H-A-N.JPG")}}" width="200" height="" ></img>
                </a>
                {% if app.user %}
                    <a href="{{path('app_main')}}">
                        <h1 class="text-primary">Tableau de bord</h1>
                    </a>
                {% else %}
                    <a href="{{path('app_login')}}">
                        <h1 class="text-primary">HOME ANTI NUISIBLE</h1>
                    </a>
                {% endif %}
            </div>
        </div>
{% endblock %}

    {% block body %}    
    {% endblock %}

    {# <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js" integrity="sha256-gqhxNoRraWeCppNZHezKGig+uPdmR/cntAtJsdTkm5A=" crossorigin="anonymous"></script> #}

    {% block footer %}
        <!--pied de page avec lien réseau sociaux et logo agrement-->
    <div class="container text-center">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4">
            <div>
                <a href="https://www.snapchat.com/add/homeantinuisibl?share_id=7ZLazzdf5V0&locale=fr-FR" target="_blanck"><svg class="bi me-2" width="40" height="32"><img
                    src="{{asset ("/image/snapchat-logo-2437.svg")}}" width="50"></use></svg></a>
                <a href="https://www.tiktok.com/fr/" target="_blanck"><svg class="bi me-2" width="40" height="32"><img
                    src="{{asset ("/image/tiktok-logo-4500.svg")}}" width="50"></use></svg></a>
                <a href="https://www.leboncoin.fr/prestations_de_services/2440361537.htm" target="_blanck"><svg class="bi me-2" width="40" height="32"><img
                    src="{{asset ("/image/lbc.png")}}" width="70"></use></svg></a>
            </div>
            <a href="{{path('registration_register')}}"><img src="{{asset("/image/agrement.jpg")}}" width="300" height=""></a>
        </footer>
    </div>
    {% endblock %}

    </div>
    
</body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
